name: Release

# This workflow runs on any tag push
#on:
#  push:
#    tags:
#      - "[0-9]+.[0-9]+.[0-9]"

# Use manual testing for now
on:
  workflow_dispatch:
    inputs:
      tag:
        description: Tag name (e.g., v1.2.3)
        required: true
        type: string

jobs:
  test:
    uses: ./.github/workflows/test.yaml

  release:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v5
        with:
            fetch-depth: 0
            ref: refs/tags/${{ inputs.tag }}

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"
          enable-cache: true

      - name: Build package
        run: uv build

      - name: Publish GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ inputs.tag }}
          generate_release_notes: true
          files: dist/*
