
name: Lint and Test

on:
  workflow_call:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"
          enable-cache: true

      - name: Install dependencies
        run: uv sync

      - name: Run ruff check
        run: uvx ruff check .

      - name: Run yaml check
        run: uv run pre-commit run check-yaml --all-files

      - name: Run toml check
        run: uv run pre-commit run check-toml --all-files

  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"
          enable-cache: true

      - name: Install dependencies
        run: uv sync

      - name: Run tests
        run: uv run --frozen pytest
